{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description"content="{{ description|default:'Default prototype description' }}">
    <meta name="keywords" content="{{ keywords|default:'prototype' }}">
    <title>{% block title %}Rapid Prototypes{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    {% endcompress %}
</head>
<body id="{% block body-id %}body{% endblock %}">
    {% block top-nav-wrapper %}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Rapid Prototypes</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li {% if slug == 'index' %}class="nav-item active" {% endif %}>
                        <a href="/">Home</a>
                    </li>
                    <li {% if slug == 'pricing' %}class="nav-item active" {% endif %}>
                            <a  href="{% url 'page' 'pricing' %}">Pricing</a>
                    </li>
                    <li {% if slug == 'contact' %}class="nav-item active" {% endif %}>
                            <a  href="{% url 'page' 'contact' %}">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li {% if slug == 'login' %}class="nav-item active" {% endif %}>
                            <a href="{% url 'page' 'login' %}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    
    {% block content %}{% endblock %}
    {% compress js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endcompress %}
</body>
</html>